@media only screen and (min-width: 426px){
    h1{
        transform: scale(1.25);
    }
    h2{
        transform: scale(1.15);
    }
    h3{
        transform: scale(1.25);
        position: relative;
        left: 12.5%;
    }
    p{
        font-size: 25px;
    }
    #hidbox1,#hidbox2{
        font-size: 23px;
    }
    #hidbox2{
        top: 39%;
    }
    input[type="text"]{
        min-width: 200px;
        font-size: 20px;
    }
    .card{
        font-size: 20px;
    }
    #container{
        margin: 0;
    }
    #goContainer{
        transform: scale(1.25);
        margin-top: 100px;
    }
}